/* #Stories Page
================================================== */
.stories-page {
  padding-top: 11vw;
  padding-bottom: 7vw;
  background-image: url('../img/global/grid-bg.jpg');
  position: relative;
}

.stories-page .container {
  width: 70%;
}

.stories-page {
  color: var(--gray);
  overflow: hidden;
}

.stories-page .red-line {
  position: absolute;
  top: 26vw;
  left: 0;
  width: 55%;
}

.stories-page h2 {
  font-size: 8.3vw;
  line-height: 1;
}

.stories-page h2 span {
  display: block;
}

.stories-page h2 span:first-child {
  color: #00b0f017;
}

.stories-page h2 span:last-child {
  margin-top: -4vw;
}

.stories-page .quote {
  font-size: 10vw;
  line-height: 1;
  margin-bottom: -5vw;
  margin-left: -.5vw;
}

.stories-page .stories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14.5vw;
  row-gap: 7.3vw;
  margin-top: 15vw;
}

.stories-page .story p:last-child {
  margin-top: 1.5vw;
}

@media (max-width: 1023.98px) {
  .stories-page {
    padding-top: 25vw;
    padding-bottom: 20vw;
  }

  .stories-page .container {
    width: 90%;
  }

  .stories-page h2 {
    font-size: 21vw;
  }
  
  .stories-page h2 span:last-child {
    margin-top: -10vw;
  }

  .stories-page .quote {
    font-size: 25vw;
    margin-left: -2vw;
    margin-bottom: -10vw;
    margin-left: 0;
  }

  .stories-page .story p:last-child {
    margin-top: 4.6vw;
  }

  .stories-page .stories-grid {
    display: block;
    margin-top: 44vw;
  }

  .stories-page .stories-grid li:not(:last-child) {
    margin-bottom: 17vw;
  }

  .stories-page .red-line {
    top: 70vw;
    width: 70%;
  }
}

/* #Stories Services
================================================== */
.stories-services {
  padding: 8.8vw 0 9.9vw 0;
}

.stories-services .container {
  width: 72%;
}

.stories-services .container > p,
.stories-services .container > h2 {
  text-align: center;
  line-height: 1.3;
}

.stories-services .container > h2 {
  color: var(--gray);
  margin-bottom: 3.5vw;
}

@media (max-width: 1023.98px) {
  .stories-services {
    padding: 20vw 0;
  }
  
  .stories-services .container {
    width: 90%;
  }

  .stories-services .container > h2 {
    margin-bottom: 6.66vw;
  }
}